body{
background: url("images/chopping_board.png");
background-size: cover;
font-family: arial
}

h1, p, ul, li {color: white;}
h1 {font-size: 50px;}
#slogan {color: #F16c01; font-style: italic; font-size: 30px;}
#list {list-style-position: inside;}
h1, p, ul, li {text-align: center}
hr {width: 600px}

}